body{
margin:0;
background:#000;
color:#fff;
font-family:Arial,sans-serif;
}

header{
background:#111;
padding:20px;
text-align:center;
border-bottom:2px solid red;
}

.logo{
width:140px;
height:140px;
border-radius:50%;
}

h1{
color:#ff0000;
margin:10px 0;
}

.slider{
width:100%;
height:220px;
overflow:hidden;
position:relative;
}

.slider img{
width:100%;
height:220px;
object-fit:cover;
display:none;
}

.slider img.active{
display:block;
}

.section-title{
font-size:22px;
font-weight:bold;
padding:15px;
}

.song-row{
display:flex;
overflow-x:auto;
gap:10px;
padding:10px;
scrollbar-width:none;
}

.song-row::-webkit-scrollbar{
display:none;
}

.song-card{
min-width:220px;
background:#111;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 10px rgba(255,0,0,.4);
}

.song-card img{
width:100%;
height:140px;
object-fit:cover;
}

.song-card p{
padding:8px;
font-size:14px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
padding:15px;
}

.card{
background:#111;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 12px rgba(255,0,0,.4);
}

.card img{
width:100%;
display:block;
}

.card h3{
padding:10px;
font-size:15px;
min-height:55px;
}

.btn{
display:block;
text-align:center;
background:red;
color:#fff;
padding:12px;
text-decoration:none;
font-weight:bold;
}

.btn:hover{
background:#cc0000;
}

.search-box{
padding:15px;
text-align:center;
}

.search-box input{
width:90%;
max-width:500px;
padding:12px;
border:none;
border-radius:30px;
font-size:16px;
}
.month-title{
background:#111;
color:#ff0000;
font-size:32px;
font-weight:bold;
padding:15px;
margin:20px 10px;
border-left:6px solid red;
border-radius:8px;
}

.gif-banner{
width:100%;
margin:20px 0;
}

.gif-banner img{
width:100%;
aspect-ratio:3/1;
object-fit:cover;
display:block;
border-radius:12px;
}

.card img{
width:100%;
aspect-ratio:16/9;
object-fit:cover;
display:block;
}

.song-card img{
width:100%;
aspect-ratio:16/9;
object-fit:cover;
display:block;
  }
